*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
.body{
    background: url('../img/nuevo.jpg') no-repeat;
    
    height: 100vh;
    

}
.heading{
    text-align: center;
    padding: 48px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 44px;
    font-weight: bold;
    
}
.bordenuevo{
    text-align: center;
    border-radius: 15px;
    width: 25%;
    height: 78vh;
    background:#80ced6;
    margin: -30px auto;
    padding: 40px;
}
.bordenuevo input{
    width: 74%;
    margin:auto;
    
}